*{
    padding: 0;
    margin: 0;
    background-color: #fffff0;
}

.mainTitle{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: gold;
    
}

#recipe-list{
    text-align: center;
}

.recipeName{
    text-align: center;
    padding: 1rem;
    color: #CBA328;
}

img{
    display: block;
    margin: auto;
    border: 0.33rem solid #5C5346; 
}

h3{
    margin: 1em 1em;
    color: #5C5346;
}

p{
    padding: 0.5em;
    margin: 0 1.5em;
    border: 1px solid black;
    background-color: rgba(92, 83, 70, 0.3)
}

ul, ol{
    border: 1px solid black;
    
}
li{
    margin: 0 1.5em;
    padding: 0.33em;
}